* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html {
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("fonts/TTLakes/TTLakes-Regular.eot");
  src: url("fonts/TTLakes/TTLakes-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("fonts/TTLakes/TTLakes-Medium.eot");
  src: url("fonts/TTLakes/TTLakes-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("/fonts/TTLakes/TTLakes-Bold.eot");
  src: url("fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "TT Lakes ";
  min-height: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}
header {
  background: #fff;
}
.header__button-icon {
  border: 0;
  padding: 0;
  background-color: #fff;
}
.menu--first {
  display: flex;
}
.header__button-icon--burger {
  background-image: url(img/icon/burger.svg);
  width: 40px;
  height: 40px;
  margin-right: 16.73px;
}
.header__divider--first {
  display: none;
}
.header__logo {
  background-image: url(img/icon/logo.svg);
  width: 96.55px;
  height: 51px;
}
.menu--second {
  display: none;
}
.menu--third {
  display: flex;
}
.header__divider--second::before {
  content: '';
  background-image: url(img/icon/divider.svg);
  display: block;
  width: 2px;
  height: 32px;
  margin-right: 20px;
  margin-top: 2px;
}
.header__button-icon--repair {
  background-image: url(img/icon/repair.svg);
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.header__button-icon--checkstatus {
  background-image: url(img/icon/checkstatus.svg);
  width: 40px;
  height: 40px;
}
.header::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background: #d9fff5;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17.59px 16px;
}
.main__title-text::before {
  content: "";
  position: absolute;
  background-image: url(img/icon/highlight.svg);
  width: 4px;
  height: 40px;
  color: #41f6d7;
  margin-left: -16px;
}
.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main__title-text {
  font-family: "TT Lakes Bold";
  font-size: 28px;
  line-height: 40px;
  color: #1b1c21;
  margin: 24px 0px 24px 16px;
}
.main__menu-title,
.main__button-icon {
  display: none;
}
.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  overflow-x: auto;
  width: 100%;
}
.navigation-bar {
  scrollbar-width: none;
}
.navigation-bar::-webkit-scrollbar {
  width: 0;
}
.navigation-bar__button {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  margin-left: 16px;
  line-height: 24px;
  color: #7e7e82;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  padding: 8px 9.3px 8px 16.54px;
}
.navigation-bar__button:focus {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: inherit;
}
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: auto;
  justify-content: center;
  min-width: 100%;
}
.section__paragraph {
  width: 288px;
  height: 90px;
  overflow: hidden;
  margin-left: 16px;
  font-family: "TT Lakes Regular";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}
.section__read-more--active {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  margin-left: 45px;
  border: none;
  background: #f8f8f8;
}
.section__expand::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 18px;
  width: 24px;
  height: 24px;
  background-image: url(img/icon/expand.svg);
  color: #41f6d7;
}
/* .section__read-more--active::before {
  content: "";
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  background-image: url(img/icon/expand.svg);
  color: #41f6d7;
  pointer-events: none;
} */
@media screen and (max-width: 767px) {
  .navigation-bar__shadow--fade {
    position: absolute;
    height: 100%;
    left: 92.5%;
    right: 0%;
    background: -o-linear-gradient(
      right,
      #f8f8f8 20%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(20%, #f8f8f8),
      to(rgba(248, 248, 248, 0.0001))
    );
    background: linear-gradient(
      270deg,
      #f8f8f8 20%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}
@media screen and (max-width: 767px) {
  .section__img {
    flex-basis: 100%;
    margin: 16px 0;
  }
  .img-1 {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .header__menu {
    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
    margin-left: 24px;
  }
  .menu--second {
    display: block;
    position: absolute;
    left: 452px;
  }
  .header__button-icon--burger {
    margin-right: 20px;
  }
  .header__divider--first {
    display: block;
  }
  .header__divider--first::before {
    content: '';
    background-image: url(img/icon/divider.svg);
    display: block;
    width: 2px;
    height: 32px;
    margin-right: 20px;
    margin-top: 6px;
  }
  .header__button-icon--call {
    background-image: url(img/icon/768px/call.svg);
    width: 40px;
    height: 40px;
  }
  .header__button-icon--chat {
    background-image: url(img/icon/768px/chat.svg);
    width: 40px;
    height: 40px;
    margin-left: 16px;
  }
  .header__button-icon--profile {
    background-image: url(img/icon/768px/profile.svg);
    width: 40px;
    height: 40px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .main__title-text {
    margin-left: 24px;
  }
  .main__title-text::before {
    margin-left: -24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .navigation-bar__shadow--fade {
    position: absolute;
    height: 90%;
    right: 0%;
    width: 24px;
    height: 33px;
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(16.84%, #f8f8f8),
      to(rgba(248, 248, 248, 0.0001))
    );
    background: -o-linear-gradient(
      right,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
  .navigation-bar__button {
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .section__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section__paragraph {
    min-width: 312px;
    height: 145px;
    margin: 16px 48px 10px 24px;
    overflow: hidden;
  }
  .section__expand::before {
    margin-left: 6px;
  }
  .section__read-more--active {
    margin-left: 52px;
  }
  .section__img {
    margin-top: 16px;
    flex-basis: 100%;
  }
  .img-1 {
    width: 100%;
    height: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
@media screen and (min-width: 1120px) {
  .wrapper {
    width: 1346px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1120px) {
  .header__menu {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .main {
    margin-top: 42px;
    text-align: center;
  }
  .main__title-text {
    margin: 0 0 9px 32px;
  }
  .main__title-text::before {
    margin-left: -32px;
  }
  .main__menu-title,
  .main__button-icon {
    display: block;
  }
  .main__menu-title {
    text-decoration: none;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    vertical-align: middle;
    margin-right: 8px;
  }
  .main__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main__button-icon {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
  .main__button-icon--repair {
    background-image: url(img/icon/repair.svg);
    margin-right: 36px;
  }
  .main__button-icon--checkstatus {
    background-image: url(img/icon/checkstatus.svg);
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width: 1120px) {
  .navigation-bar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-left: 32px;
    margin-top: 9px;
  }
  .navigation-bar__button:first-of-type {
    padding: 8.63px 21.7px 7.37px 22.64px;
    margin-left: -0px;
  }
  .navigation-bar__button:last-of-type {
    margin-right: 52px;
  }
  .navigation-bar__button_slide {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1120px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
  }
  .section__paragraph {
    margin: 25px 36px 13.78px 34px;
    width: 490px;
    height: 160px;
  }
  .section__expand::before {
    margin-left: 15px;
  }
  .section__read-more--active {
    margin-left: 65px;
  }
  .section__img {
    margin-top: 16px;
    flex-basis: 100%;
  }
  .img-1 {
    width: 100%;
    height: 383px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
